
     <table class="table  mb-5">
        <thread>
            <tr>
             <th>商品ID</th>
             <th>商品名</th>
             <th>税抜価格</th>
             <th>ジャンル</th>
             <th>ステータス</th>
            </tr>
         </thread>
        <tbody>
         <% items.each do |item| %>
         <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name,admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active == true %>
              <p class="text-success ">販売中</p>
             <% else %>
              <p class="text-secondary ">販売停止中</p>
            <% end %>
          </td>
         </tr>
        <% end %>
        </tbody>
    </table>