
      <%= link_to item_path(item.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" >
        <%= attachment_image_tag(item, :image, size: "180x130", fallback: "no_image.jpg") %>
      </div>
      <p class="items-name">
        <%= item.name %>
      </p>
      <% end %>
    <% if item.is_active == true %>
      <p>¥<%= item.price.to_s(:delimited) %></p>
    <% elsif item.is_active == false %>
      <p class="soldout">売り切れ中</p>
    <% end %>
