<% provide(:title, "サイトについて") %>
<div class="text-center">
    <h1 class="font-weight-bold">NaganoCakeのこだわり</h1>
</div>
    <div class="row">
        <div class="col-xs-6">
        <%= image_tag "lemon_cake.jpg", alt: "cake1", :size =>'500x400' %>
        </div>
        <div class="mx-auto align-items-center">
            <br>
            <br>
            <br>
            <h5><u class="font-weight-bold">生産者の方がわかる素材を厳選</u><br></h3>
            <br>
            「体にやさしいケーキ」をコンセプトに、<br>
            無添加、無農薬の素材を厳選してます。<br>
            砂糖も控えめなため、カロリーを気にされる方でも、<br>
            気にせずお召し上がりいただけます。<br>
            ぜひ一度ご注文してみてください！<br>
            <br>
        </div>
        
        <div class="col-xs-6 mx-auto align-items-center">
            <br>
            <br>
            <br>
            <h5><u class="font-weight-bold">無農薬野菜を全国のみんなに届けたい！</u><br></h3>
            <br>
            見習い農家の幸吉さんは、安全な野菜を全国のみなさんに<br>
            食べてもらいたいと日々無農薬農業を研究中です。<br>
            当店は幸吉さんのような信頼できる農家さんと提携して、<br>
            新鮮で安全な素材を追求しています。<br>
            <br>
        </div>
        <br>
        <div class="col-xs-6 mx-auto">
        <%= image_tag "farmer.jpg", alt: "farmer", :size =>'500x400' %>
        </div>
    </div>

<br>
<!--gitに登録するため-->