<div class="text-center">
    <h1>About</h1>
    <br>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国の発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。<br>
    <image src="assets/images/about/image_about01" alt="panda">
</div>
