<% provide(:title, "サイトについて") %>

<body>
    <div class="text-center">
        <h1>About</h1>
        <br>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
        ぜひご注文ください。
        <br>
    </div>
    
    
</body>