<% genre.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success py-0" %></td>
            </tr>
            <% end %>