/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
}

header{
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}
.header-title{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 30px;
}

main{
  padding-top: 80px;
}

footer{
  min-height: 50px;
  background: #999;
  color: white;
  padding: 2rem 0;
  margin-top: auto;
}

.nav-item {
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-weight: 700;
  font-style: normal;
}