<% if admin_signed_in?%>
<div class="d-flex justify-content-end mt-3 mr-3">
  <%= form_with url:admin_items_path do |f| %>
    <%= f.text_field :search, placeholder: "\uf002 Search", class: "fa" %>
    <%= f.submit "検索", class:"btn btn-outline-secondary"%>
  <% end %>
</div>
<% end %>